<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
<h2 class="text-center mt-5">Histórico de consultas</h2>

    <!--<a class="btn btn-success ml-3" href="/hospitais/cadastrar">Cadastrar um novo hospital</a>-->
    <table class="table mt-5">
        <thead>
            <tr>
             <td>
                   <label>Buscar consulta por data:</label> 
				   <select name="dtconsulta" class="form-control"> 
                   <% consultas.forEach(consulta => { %>
                   <option value="<%= consulta.id %>"><%= moment(consulta.dtconsulta).format(`DD/MM/YYYY`) %></option>
                <% }) %>
                   </td>
                   </tr>
                <!--<tr>
                <th>Data:</th>
                <th>Paciente:</th>
                <th>Hospital:</th>
                <th>Status:</th>
                </tr>-->
        </thead>
        <tbody>
        <tr>
              <td>
              </td>    
              </tr>
              </tbody>
        </table>
    </div>
 <!--<script>

    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>-->

<%- include('../partials/footer.ejs') %>

