<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container-lg">
    <hr>
    <h2 class="text-center">Pacientes cadastrados</h2>
    <a class="btn btn-success ml-3" href="/pacientes/cadastrar">Cadastrar um novo paciente</a>
    <hr>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>ID:</th>
                <th>Nome:</th>
                <th>CPF:</th>
                <th>Endereço:</th>
                <th>Número:</th>
                <th>Complemento:</th>
                <th>Bairro:</th>
                 <th>Cidade:</th>
                 <th>UF:</th>
                 <th>Ações</th>
                 
            </tr>
        </thead>
        <tbody>
            <% pacientes.forEach(paciente => { %>
                <tr>
                
                    <th><%= paciente.id %></th>
                    <th><%= paciente.nome %></th>
                    <th><%= paciente.cpf %></th>
                    <th><%= paciente.endereco %></th>
                    <th><%= paciente.numero %></th>
                    <th><%= paciente.complemento %></th>
                    <th><%= paciente.bairro %></th>
                    <th><%= paciente.cidade %></th>
                    <th><%= paciente.uf %></th>
                    <th>
                    <a href="/pacientes/editar/<%= paciente.id %>" class="btn btn-warning">Editar</a>
                        
                        <form method="POST" action="/pacientes/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= paciente.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    
                    </th>
                    </tr>
            <% }) %>
        </tbody>
        </table>
    </div>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>
<%- include('../partials/footer.ejs') %>

