<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container-lg">
    <hr>
    <h2 class="text-center"> Hospitais cadastrados</h2>
    <a class="btn btn-success ml-3" href="/hospitais/cadastrar">Cadastrar um novo hospital</a>
    <hr>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Id:</th>
                <th>Data:</th>
                <th>Paciente:</th>
                <th>Hospital:</th>
                 <th>Status:</th>
            </tr>
        </thead>
        <tbody>
            <% consultas.forEach(consulta => { %>
                   <tr>
                   <td><%= consulta.id %></td>
                   <td><%= consulta.dtconsulta %></td>
                   <td><%= consulta.paciente.nome %></td>
                   <td><%= consulta.hospital.nome %></td>
                    <td><%= consulta.status.descricao %></td>
                   <td>
                        <a href="/consultas/editar/<%= consulta.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/consultas/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= consulta.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                   </tr>
            <% }) %>
         </tbody>
        </table>
    </div>
 <script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>
<%- include('../partials/footer.ejs') %>

