<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container-lg">
    <hr>
    <h2 class="text-center">Pacientes cadastrados</h2>
    <a class="btn btn-success ml-3" href="/pacientes/cadastrar">Cadastrar um novo paciente</a>
    <hr>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>ID:</th>
                <th>Nome:</th>
                <th>Hospital</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
                 
            </tr>
        </thead>
        <tbody>
            <% consuttas.forEach(consulta => { %>
                <tr>
                
                    <th><%= consulta.id %></th>
                    <th><%= consulta.pacientes.nome %></th>
                    <th><%= consulta.hospitais %></th>
                    <th><%= consulta.dtconsulta %></th>
                    <th><%= consulta.status %></th>
                    
                    <th>
                
        </tbody>
        </table>
    </div>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>
<%- include('../partials/footer.ejs') %>

