<%- include('../partials/header.ejs') %> <%-
include('../partials/navbar.ejs') %>

<div class="container mt-5">
     <form action="/consultas/save" method="post">
	<div class="card">
		<div class="card-header">
			<h2 class="text-center">Registro de Consulta</h2>
		</div>
		<div class="card-body">
			
				<div class="row">
					<div class="col">
						<label>Nome do paciente:</label> <select name="pacientes"
							class="form-control"> <% pacientes.forEach((paciente) =>
							{ %>
							<option value="<%= paciente.id %>"><%= paciente.nome %></option>
							<% }) %>
						</select>
					</div>
					<div class="col">
						
						<label>Hospital:</label> <select name="hospitais"
							class="form-control"> <% hospitais.forEach((hospital) =>
							{ %>
							<option value="<%= hospital.id %>"><%= hospital.nome %></option>
							<% }) %>
						</select><br>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label>Data da consulta:</label> <input class="form-control"
							type="date" name="dtconsulta" placeholder="Data da consulta">
					</div>
					<div class="col">
						
						<label>Status do paciente:</label> <select name="status"
							class="form-control"> <% status.forEach((status) => { %>
							<option value="<%= status.id %>"><%= status.descricao %></option>
							<% }) %>
						</select><br>
					</div>
				</div>
				<button class="btn btn-success btn-block">Agendar</button>
			</form>
		</div>
	</div>
</div>
<%- include('../partials/footer.ejs') %>

