<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card"> 
        <div class="card-header">
            <h2 class="text-center">Editar cadastro de Hospital</h2>
        </div>
        <div class="card-body">
    <form action="/hospitais/atualizar" method="post">         
    <div class="row">
    <div class="col">
    <input type="hidden" name="id" value="<%= hospitals.id %>">
      <input type="text" class="form-control" name="nome" placeholder="Nome" value="<%= hospitals.nome %>">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="cnpj" placeholder="CNPJ" value="<%= hospitals.cnpj %>">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="endereco" placeholder="Endereco" value="<%= hospitals.endereco %>">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="numero" placeholder="Número" value="<%= hospitals.numero %>">
    </div>
  </div><br>
   <div class="row">
    <div class="col">
       <input class="form-control" type="text" name="complemento" placeholder="Complemento" value="<%= hospitals.complemento %>">
       
    </div>
    <div class="col">
      <input class="form-control" type="number" name="cep" placeholder="CEP" value="<%= hospitals.cep %>">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
     <input class="form-control" type="text" name="bairro" placeholder="Bairro" value="<%= hospitals.bairro %>">
       
    </div>
    <div class="col">
      <input class="form-control" type="text" name="cidade" placeholder="Cidade" value="<%= hospitals.cidade %>">
    </div>
  </div><br>
  <input class="form-control" type="text" name="uf" placeholder="Estado (UF)" value="<%= hospitals.uf %>"><br>
  <button class="btn btn-success btn-block">Atualizar</button>
  </form>
       </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>

