<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>


<div class="container">
    <hr> 
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/update" method="POST">
                <input type="hidden" name="id" value="<%= users.id %>">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" value="<%= users.email %>"><br>
                <input class="form-control" name="password" type="password" placeholder="******" value="<%= users.password %>"><br>
                <button type="submit" class="btn btn-success btn-block">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include ../../partials/footer.ejs %>